



<section class="hero is-fullheight is-medium is-primary is-bold">
  {{!-- <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">
      {{!-- <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> --}}
    <p class="encabezado text-dark">Raudo</p>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu ">
    {{!-- <div class="navbar-start " >
      <a class="navbar-item" href="">
        Home
      </a>
      
      </div>
    </div> --}}
    <div class="navbar-end">
      <div class="navbar-item">
       <div class="navbar-item has-dropdown is-hoverable  ">
        {{!-- <a class=" picture" href="" style="background-image: url({{currentUser.avatar}})"> --}}
          <a class=" picture" href="">
           <figure class="avatar image is-128x128"></figure>
        </a>
        <div class="navbar-dropdown is-boxed is-right opciones">
          <a class="navbar-item opciones" href="" style="color: black">
            Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Emp Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Emp Public Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav> --}}
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <article class="card is-rounded">
                <div class="card-content">
                  <h1 class="title" style="padding-left: 2.5em">       
                    <img src="../images/img18.png" alt="logo" width="200">
                  </h1>
                  <form action="/auth/login" method="post" class="box">
                   <label for="" class="label">Email:</label>
                  <div class="control has-icons-left">
                    <input class="input" type="email"  name="email" id="email" placeholder="e.g. bobsmith@gmail.com" required>
                     <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i></span>
                  </div>
                  <br>
                   <label for="" class="label">Password:</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password"  name="password" id="password" placeholder="Password" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                  <p class="control">
                    <label class="checkbox">
                      <input type="checkbox">
                      Remember me
                    </label>
                  </p>
                  <br>
                  <p class="control">
                     <input type="submit" value="Log in" class="button is-primary is-medium is-fullwidth">
                  </p>
                  </form>
                 <a href="/auth/facebook">
                 <button class="loginBtn loginBtn--facebook">
                   Login facebook
                   </button>
                   </a> 
                  <a href="/auth/google">
                  <button class="loginBtn loginBtn--google">
                  Login google
                  </button>
                  </a>
                </div>
              </article>
            </div>
          </div>
    </div>
  </section>
