<div class="field">
  <label for="date" class="label">Date: </label>
  <div class="control">
    <input type="date" name="date" id="date" class="input" value="{{date}}">
  </div>
</div>
<div class="select">
  <select name="location" id="location">
    {{#each locations}}
    <option value="{{_id}}" {{#if isDefault}} selected {{/if}}>{{address}}</option>
    {{/each}}
  </select>
</div>