<div class="field">
  <label for="" class="label">Address: </label>
  <div class="control">
    <input type="text" name="address" id="address" class="input">
  </div>
</div>
<div class="field" style="display: none">
  <label for="" class="label">Coordinates: </label>
  <div class="control">
    <input type="hidden" name="lat" id="lat" class="input">
    <input type="hidden" name="lng" id="lng" class="input">
  </div>
</div>