  <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">
      {{!-- <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> --}}
    <p class="encabezado text-dark">Raudo</p>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu ">
    {{!-- <div class="navbar-start " >
      <a class="navbar-item" href="">
        Home
      </a>
      
      </div>
    </div> --}}
    <div class="navbar-end">
      <div class="navbar-item">
       <div class="navbar-item has-dropdown is-hoverable  ">
        {{!-- <a class=" picture" href="" style="background-image: url({{currentUser.avatar}})"> --}}
          <a class=" picture" href="">
           <figure class="avatar image is-128x128"></figure>
        </a>
        <div class="navbar-dropdown is-boxed is-right opciones">
          <a class="navbar-item opciones" href="" style="color: black">
            Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Emp Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Emp Public Profile
          </a>
          <a class="navbar-item" href="" style="color: black">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>