<section class="not-found">
  <div>
    <img
      src="https://media1.giphy.com/media/l0HU7GmObZ2BtYZvW/giphy.gif?cid=790b76119d3045c709b9cd73b73c9e3ad2192ac61dff8d4d&rid=giphy.gif"
      alt="">
  </div>
  <div>
    <p>
      We are sorry there is nothig here.
      <br>
      Our 1000 monkeys with their 1000 typewriting machines are working to put
      something here.
      <br>
      Meanwhile you can:
    </p>
  </div>
  <div>
    <a href="/search" class="button is-primary">Search for a profesional</a>
  </div>
</section>