<section class="hero is-bold has-text-centered">
    <div class="bg-img button-container">
    <img class="img-responsive" src="../images/intro.jpg"/>
    <h1 class="title is-1 is-uppercase">Raudo</h1>
    
    <a href="auth/signup">Signup</a>
    </div>
</section>
    <section class="hero is-bold has-text-centered" id="seccion2">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 is-uppercase">Bienvenido a Raudo</h1>
          
          <p class="title is-3">¿Qué es Raudo?</p>
<p class="is-size-4">Es una plataforma que permite conectar expertos profesionales, con personas que necesitan de sus habilidades.
  <img class="img-responsive" src="../images/img9.png" align="right" style="width: 30%; height:30%"/>
</p>
<br><br>
<a href="auth/login" class="button is-large btnLogin">Login</a>
<a href="auth/signup" class="button is-large btnSign">Signup</a>


        </div>
      </div>
    </section>
        <section class="hero is-bold has-text-centered" id="seccion3">
      <div class="hero-body ">
        <div class="container">
          <h1 class="title is-1 is-uppercase">¿Quieres pertenecer a RAUDO?</h1>
<p class="is-size-4">Nosotros te ayudamos a que tengas mas clientes y un mejor alcance.
</p>
<br><br>
<a href="auth/login" class="button is-large btnLogin">Login</a>
<a href="auth/signup-emp" class="button is-large btnSign">Signup</a>
<br><br>

        </div>
      </div>
    </section>
