<section class="hero is-bold has-text-centered" id="seccion1">
    <div class="hero-body bg-img" id="introImg">
      <div class="container" id="parrafo">
        <h1 class="title is-1">Bienvenido a Raudo</h1>
          <p class="title is-3">¿Qué es Raudo?</p>
          <p class="is-size-4" >
            Es una plataforma que permite conectar expertos profesionales, con personas que necesitan de sus habilidades.
          </p>
          <br><br>
      <a href="auth/login" class="button is-blue custombtn btnLogin">Log in</a>
      <a href="auth/signup" class="button is-blue custombtn btnSign">Sign up</a>
      </div>
    </div>
</section>
    <section class="hero is-bold has-text-centered" id="seccion3">
      <div class="hero-body ">
         <div class="container" id="parrafo2">
          <div class="columns">
              <div class="column" style="padding-left: 2em">
                <img class="img-responsive" src="../images/img17.png"/>
              </div>
              <div class="column">
               <h1 class="title is-1" style="color:darkslategray">¿Quieres pertenecer a Raudo?</h1>
               <p class="is-size-4">Nosotros te ayudamos a que tengas mas clientes y un mejor alcance.</p>
              <br>
               <a href="auth/login" class="button is-blue custombtn btnLogin">Log in</a>
                  <a href="auth/emp/signup" class="button is-blue custombtn btnSign">Sign up</a>
               </div>
              <div class="column">
                  <img class="img-responsive" src="../images/img9.png"/>
              </div>
          </div>
         </div> 

    </div>
  </section>
