.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
}

.avatar-update {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.avatar-update:hover {
  opacity: 0.5;
}

.is-justify-centered {
  justify-content: center;
}

.is-align-centered {
  align-items: center;
}

.is-f-column {
  flex-direction: column;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-appoiment {
  background-color: #a5a5af;
}

.date-container {
  height: 240px !important;
}

.address {
  width: 480px;
}

.is-yellow {
  color: #ffd300;
}

.is-black {
  color: #333;
}

.not-found {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-20deg, rgb(100, 172, 245) 0%, rgb(119, 136, 153) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
}

.not-found > div:first-child {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
  overflow: hidden;
}

.not-found > div > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.not-found > div > a {
  margin-top: 20px;
}

.p-button {
  width: 161px;
}

.profile-banner {
  background-image: linear-gradient(19deg, #64acf5 42%, rgba(119, 136, 153, 0.8) 103%);
  color: #eee;
  margin-bottom: 30px;
}

.t-white {
  color: #fff !important;
}

.search-container {
  background-image: linear-gradient(19deg, rgba(100, 172, 245, 0.9) 42%, rgba(119, 136, 153, 0.8) 103%);
  min-height: 100vh;
}
