.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.is-justify-centered {
  justify-content: center;
}

.is-align-centered {
  align-items: center;
}

.is-f-column {
  flex-direction: column;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-appoiment {
  background-color: #a5a5af;
}

.date-container {
  height: 240px !important;
}

.address {
  width: 480px;
}
